[loggers]
keys=root,epicurious_spider_log

[handlers]
keys=hroot,hconsole,hfile

[formatters]
keys=brief,long

[logger_root]
level=NOTSET
handlers=hroot

[logger_epicurious_spider_log]
level=NOTSET
handlers=hconsole,hfile
propagate=0
qualname=epicurious_spider_log

[handler_hroot]
class=StreamHandler
level=NOTSET
formatter=
args=(sys.stdout,)

[handler_hconsole]
class=StreamHandler
level=INFO
formatter=brief
args=(sys.stdout, )

[handler_hfile]
class=FileHandler
level=DEBUG
formatter=long
args=('epicurious_spider.log', 'a')

[formatter_brief]
format=ES:: %(message)s

[formatter_long]
format=ES:: %(asctime)s %(levelname)s %(message)s
datefmt=
